@use "./normalize.scss" as *;

$fontFamily: alibaba-puhuiti, sans-serif;

$color: #212121;

$span: calc(calc(100vw - 20px * 2 - 11 * 24px - 24px * 2) / 12);

@mixin gridCol($val) {
    width: calc(calc($span * $val) + calc(($val - 1) * 24px));
}

$mobileSpan: calc(calc(100vw - 16px * 2 - 11 * 20px - 24px * 2) / 12);

@mixin mobileGridCol($val) {
    width: calc($mobileSpan * $val + calc($val - 1) * 20px);
}

@mixin TypeBackground {
    background: linear-gradient(
        172deg,
        rgba(239, 234, 210, 0.4) 11.6%,
        rgba(165, 139, 66, 0.36) 95.78%
    );
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

html,
.wrapper,
body,
body > div:not([class], [id]) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html,
body {
    overflow: hidden;
}

.wrapper {
    background-color: transparent;
    background-image: url("./Assets/img/bg.png");
    background-position: center;
    background-size: cover;
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.warehouse_wrap {
    margin-top: 32px;
    width: 100%;
}

.warehouse_total {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #fff;
}

.warehouse_totalVal {
    color: #f5b600;
    margin: 0 5px;

    &.red {
        color: #ff7745;
    }
}

.warehouse_items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    margin-top: 8px;
    padding-bottom: 24px;
    box-sizing: border-box;
    max-height: 178px;
    overflow: auto;
    overflow-x: hidden;
    min-height: 100px;
}

.warehouse_scrollWrap {
    margin-top: 8px;
    box-sizing: border-box;
    &.scroll_scrollContainer {
        height: auto;
    }
}

.hr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 10px;
}

.hr_left {
    width: calc(50% - 3px);
    height: 1px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 8px);
        height: 100%;
        border-radius: 1px;
        background: linear-gradient(to left, rgba(#f4bc1c, 1), rgba(#f4bc1c, 0));
    }
    svg {
        width: 6px;
        height: 8px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.hr_right {
    width: calc(50% - 3px);
    height: 100%;
    height: 1px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% - 8px);
        height: 100%;
        border-radius: 1px;
        background: linear-gradient(to right, rgba(#f4bc1c, 1), rgba(#f4bc1c, 0));
    }
    svg {
        width: 6px;
        height: 8px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.warehouse_scrollBody {
    min-height: 100px;
    max-height: 178px;
    position: relative;
    display: flex;
    padding-bottom: 24px;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
}
@mixin ItemBg {
    position: absolute;
    border-radius: 9px;
    top: 0;
    left: 0;
    height: 100%;
}

@mixin ItemSvgBg {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    svg {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
    }
}

@mixin Item {
    padding: 7px 14px 8px 10px;
    color: #8c3817;
    display: inline-flex;
    touch-action: none;
    max-width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    flex-flow: row wrap;
    .itemContent {
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.2px;
        position: relative;
        z-index: 7;
    }

    .itemBg1 {
        @include ItemBg();
        z-index: 3;
        background-color: #f4bc1c;
        width: calc(100% - 5px);
        background-image: url("./Assets/img/icon_lightning.png");
        background-size: 100% 21.67px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .itemBg2 {
        @include ItemBg();
        z-index: 2;
        background-color: #ffe39c;
        width: calc(100% - 3px);
    }

    .itemBg3 {
        @include ItemBg();
        z-index: 1;
        background-color: #f2961d;
        width: 100%;
    }

    .itemBg4 {
        @include ItemSvgBg();
        z-index: 4;
        width: 14px;
        height: 14px;
        bottom: -1px;
        right: 0;
    }

    .itemBg5 {
        @include ItemSvgBg();
        z-index: 4;

        width: 7.34px;
        height: 11.01px;
        left: 4.86px;
        top: -1px;
    }
}

.item {
    cursor: pointer;
    @include Item();
    position: relative;
    &.gray {
        overflow: hidden;
        background-color: #ebebeb;
        border-radius: 9px;
        .itemContent {
            color: transparent;
        }
        .itemBg1 {
            background-image: none;
            background-color: transparent;
        }
        .itemBg2 {
            background-color: transparent;
        }
        .itemBg3 {
            background-color: transparent;
        }
        .itemBg4 {
            opacity: 0;
        }
        .itemBg5 {
            opacity: 0;
        }
    }
}

.floating {
    @include Item();
    position: absolute;
    z-index: 50;
    pointer-events: none;
}

.storageCabinet_row {
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.storageCabinet_total {
    color: #fff;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 32px;
    margin-bottom: 12px;
    span {
        padding: 0 5px;

        color: #f5b600;
    }
}

.storageCabinet_itemBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    svg {
        width: 100%;
        height: 100%;
    }
    z-index: 0;
}

.storageCabinet_itemBg1 {
    position: absolute;
    width: calc(100% - 12.2px - 16.2px);
    height: calc(100% - 18.45px - 23.12px);
    top: 18.45px;
    left: 12.2px;
    svg {
        width: 100%;
        height: 100%;
    }
    z-index: 5;
}

.storageCabinet_itemBg2 {
    position: absolute;
    width: calc(100% - 6.76px - 8.77px);
    height: calc(100% - 16.62px - 22px);
    top: 16.62px;
    left: 6.76px;
    background-color: #5e2b2c;
    border-radius: 9px;
    z-index: 1;
}

.storageCabinet_itemBg3 {
    position: absolute;
    width: calc(100% - 9.53px - 11.11px);
    height: calc(100% - 18.73px - 23.21px);
    top: 18.73px;
    left: 9.53px;
    border-radius: 9px;
    background-color: #d6a317;
    z-index: 2;
}

.storageCabinet_itemBg4 {
    border-radius: 9px;
    position: absolute;
    width: calc(100% - 12.71px - 13.06px);
    height: calc(100% - 19.79px - 24.32px);
    top: 19.79px;
    left: 12.71px;
    border-radius: 9px;
    background-color: #e8d399;
    z-index: 3;
    transition: all 0.2s linear;
}

.storageCabinet_itemBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    svg {
        width: 100%;
        height: 100%;
    }
}

.storageCabinet_item {
    @include gridCol(2);
    height: 180px;

    padding-top: 26px;
    padding-bottom: 25px;
    box-sizing: border-box;
    margin-left: 24px;
    flex: 0 0 auto;
    transition: all 0.2s linear;

    position: relative;

    &.active {
        .storageCabinet_itemBg4 {
            background-color: #fff4d5;
        }
    }
    &:first-child {
        margin-left: 0;
    }
}

.storageCabinet_itemTitle {
    color: #5e2b2c;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-family: $fontFamily;
    margin-bottom: 10px;

    padding: 0 16px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    z-index: 7;
    text-align: center;
}

.mobileScroll {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 12px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.storageCabinet_itemValues {
    width: 100%;
    height: calc(100% - 21px - 10px);
    position: relative;
    z-index: 7;
    .item {
        margin-right: 16px;

        margin-bottom: 12px;
    }
    .scroll_scrollBar__vertical {
        right: 6px !important;
    }
    .scroll_scrollBody {
        padding: 0 16px;
        box-sizing: border-box;
    }
}

.scroll_scrollBar__vertical {
    right: 4px;
}

.warehouse_placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bdbdbd;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 21px;
    position: absolute;
    top: 0;
    left: 0;
}

.storageCabinet_deskScrollWrap {
    height: calc(100% - 65px) !important;

    overflow: hidden;
    @include TypeBackground();
}

.storageCabinet_wrap {
    width: 100%;
    overflow: hidden;
    &.desk {
        .storageCabinet_row {
            padding: 0 8px 20px 8px;
        }
        .storageCabinet_item {
            margin: 20px 12px 0 12px;
        }
    }

    &.tablet {
        .storageCabinet_item {
            @include gridCol(4);
            height: 180px;
            margin-right: 24px;
            margin-left: 0;
            margin-top: 20px;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    &.mobile {
        .storageCabinet_item {
            @include mobileGridCol(6);
            height: 180px;
            margin-left: 20px;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    &.small_desk {
        .storageCabinet_total {
            margin-bottom: 16px;
        }

        .storageCabinet_item {
            @include gridCol(3);
            height: 180px;
        }
    }
}

.small_desk {
    position: relative;
}

.arrowContainer {
    position: absolute;
    top: 32px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

@mixin Circle {
    width: 29.5px;
    height: 29.5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -14.75px;
    overflow: hidden;
}

@mixin Arrow {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    cursor: pointer;
    &::before {
        content: "";
        @include Circle();
        background-color: #f2961d;
        z-index: 0;
        transition: all 0.2s linear;
    }
    &::after {
        content: "";
        @include Circle();
        background-color: #ffe39c;
        z-index: 1;
        transition: all 0.2s linear;
    }
    .arrowContainer_bg {
        @include Circle();
        background-color: #f4bc1c;
        z-index: 2;
        transition: all 0.2s linear;
        .arrowContainer_bgIcon {
            position: absolute;
            bottom: -4px;
            transition: all 0.2s linear;
        }
    }
    .arrowContainer_icon {
        position: relative;
        z-index: 5;
        width: 16px;
        height: 10px;
        transition: all 0.2s linear;
    }
    &.gray {
        &::before {
            background-color: #514960;
        }
        &::after {
            background-color: #8b859a;
        }
        .arrowContainer_bg {
            background-color: #675f75;
        }
    }
}

.arrowContainer_pre {
    margin-right: 20px;
    @include Arrow();

    &::before {
        left: 2.54px;
    }

    &::after {
        left: 1.11px;
    }

    .arrowContainer_bg {
        left: 0px;
        .arrowContainer_bgIcon {
            left: -3px;
        }
    }
}

.arrowContainer_next {
    @include Arrow();
    &::before {
        left: 0;
    }

    &::after {
        left: 1.42px;
    }

    .arrowContainer_bg {
        left: 2.37px;
        .arrowContainer_bgIcon {
            transform: rotateY(180deg);

            right: -3px;
        }
    }

    .arrowContainer_icon {
        transform: rotate(180deg);
    }
}

.arrowContainer_icon {
    font-size: 12px;
    color: #22a6b3;
}

.smallDesk_scrollWrap {
    @include TypeBackground();

    height: 220px;
    box-sizing: border-box;
}

.smallDesk_scrollBody {
    padding: 0 20px !important;
    box-sizing: border-box;
}

.storageCabinet_smallDeskRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
}

.tablet_colorContainer {
    width: 100%;
    overflow: hidden;

    @include TypeBackground();
    box-sizing: border-box;
}

.tablet_colorContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.tablet_colorList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0 20px 20px;
    box-sizing: border-box;
    width: 100%;
    flex: 0 0 auto;
    .storageCabinet_item {
        list-style: none;
    }
}

.tablet_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 24px;
}

.tablet_row {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.tablet_pageItem {
    width: 16px;
    height: 6px;
    display: inline-block;
    background: #ebebeb;
    border-radius: 10px;
    margin-right: 8px;
    transition: all 0.5s linear;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
    &.active {
        width: 40px;
        background: #bdbdbd;
        opacity: 0.8;
    }
}

.transition {
    transition-duration: 600ms;
    transition-property: transform;
}

.mobile_colorWrap {
    width: 100%;
    height: 212px;
    overflow: auto;
    @include TypeBackground();
}

.mobile_colorContainer {
    width: auto;
    min-width: 100%;
    height: 212px;

    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 16px;
    box-sizing: border-box;
}

.warehouse_body {
    width: calc(100% + 20px);
    > .item {
        margin-right: 20px;
        margin-bottom: 16px;
    }
}

.scrollBody {
    width: calc(100% + 16px);
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #ffffff;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #bdbdbd;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

@mixin tipsMask {
    position: absolute;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    transition: all 0.2s linear;
}

.storageCabinet_deskTopTips {
    @include tipsMask();
    top: 0;
    background: linear-gradient(
        180deg,
        rgba(51, 51, 51, 0.2) -64.58%,
        rgba(51, 51, 51, 0.05) 135.42%
    );
    border-radius: 6px 6px 0px 0px;
    .storageCabinet_img {
        transform: rotate(180deg);
    }
}

.storageCabinet_deskBottomTips {
    @include tipsMask();
    bottom: 0;
    background: linear-gradient(
        360deg,
        rgba(51, 51, 51, 0.2) -64.58%,
        rgba(51, 51, 51, 0.05) 135.42%
    );
    border-radius: 0px 0px 6px 6px;
}
