@use "./normalize.scss" as *;

$fontFamily: alibaba-puhuiti, sans-serif;

$color: #212121;

$span: calc(calc(100vw - 20px * 2 - 11 * 24px - 24px * 2) / 12);

@mixin gridCol($val) {
    width: calc(calc($span * $val) + calc(($val - 1) * 24px));
}

$mobileSpan: calc(calc(100vw - 16px * 2 - 11 * 20px - 24px * 2) / 12);

@mixin mobileGridCol($val) {
    width: calc($mobileSpan * $val + calc($val - 1) * 20px);
}

@mixin TypeBackground {
    position: relative;
}

html,
.wrapper,
body,
body > div:not([class], [id]) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html,
body {
    overflow: hidden;
}

.wrapper {
    background-color: #fff;
    background-image: url("./Assets/img/bg.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.warehouse_wrap {
    margin-top: 32px;
    width: 100%;
}

.warehouse_total {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #fafafa;
}

.warehouse_totalVal {
    color: #57f1f1;
    margin: 0 5px;

    &.red {
        color: #ff7745;
    }
}

.warehouse_items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    margin-top: 8px;
    padding-bottom: 24px;
    box-sizing: border-box;
    max-height: 178px;
    overflow: auto;
    overflow-x: hidden;
    min-height: 100px;
}

.warehouse_scrollWrap {
    margin-top: 8px;
    box-sizing: border-box;

    &.scroll_scrollContainer {
        height: auto;
    }
}

.hr {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 10px;
}

.hr_icon {
    width: calc(100% - 11px);
    height: 13px;
}

.hr_last {
    margin-left: 3px;
    transform: translateY(2px);
}

.warehouse_scrollBody {
    min-height: 100px;
    max-height: 178px;
    position: relative;
    display: flex;
    padding-bottom: 24px;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
}

@mixin ItemBg {
    position: absolute;
    border-radius: 9px;
    top: 0;
    left: 0;
    height: 100%;
}

@mixin ItemSvgBg {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;

    svg {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
    }
}

@mixin Item {
    display: inline-flex;
    border-radius: 6px;
    touch-action: none;
    max-width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    z-index: 7;
    color: #fafafa;
    .itemBg {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }
    .itemContent {
        position: relative;
        z-index: 2;
        padding: 8px 12px;
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.2px;
        box-sizing: border-box;
        word-wrap: break-word;
        word-break: break-word;
        white-space: pre-wrap;
        flex-flow: row wrap;
        overflow: hidden;
    }
}

.item {
    cursor: pointer;
    @include Item();
    position: relative;

    &.gray {
        overflow: hidden;
        background-color: rgba(#fff, 0.2);
        background-image: none;
        color: transparent;
        * {
            visibility: hidden;
        }
    }
}

.floating {
    @include Item();
    position: absolute;
    z-index: 50;
    pointer-events: none;
}

.storageCabinet_row {
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.storageCabinet_total {
    color: #fafafa;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 32px;
    margin-bottom: 12px;

    span {
        padding: 0 5px;
        color: rgba(87, 241, 241, 1);
    }
}

.storageCabinet_itemBg {
    position: absolute;
    width: 50px;
    height: 48px;
    bottom: -7px;
    right: -14px;

    svg {
        width: 100%;
        height: 100%;
    }

    z-index: 1;
}

.storageCabinet_item {
    @include gridCol(2);
    height: 180px;

    padding: 15px 0 22px 0;
    box-sizing: border-box;
    margin-left: 24px;
    flex: 0 0 auto;
    transition: all 0.2s linear;

    position: relative;

    background: #0e446f;
    box-shadow: inset 0px 4px 35px rgba(0, 143, 188, 0.25);
    border-radius: 6px;
    &.active {
        box-shadow: inset 0px 4px 35px rgba(0, 143, 188, 0.25),
            0 0 5px 1px rgba(255, 255, 255, 0.25);
    }

    &:first-child {
        margin-left: 0;
    }
}

.storageCabinet_itemTitle {
    color: #57f1f1;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-family: $fontFamily;
    margin-bottom: 6px;

    padding: 0 23px 0 16px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    z-index: 7;
    text-align: left;
}

.mobileScroll {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 12px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.storageCabinet_itemValues {
    width: 100%;
    height: calc(100% - 21px - 10px);
    position: relative;
    z-index: 7;

    .item {
        margin-right: 16px;

        margin-bottom: 12px;
    }

    .scroll_scrollBar__vertical {
        right: 6px !important;
    }

    .scroll_scrollBody {
        padding: 0 16px;
        box-sizing: border-box;
    }
}

.scroll_scrollBar__vertical {
    right: 4px;
}

.warehouse_placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bdbdbd;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 21px;
    position: absolute;
    top: 0;
    left: 0;
}

.storageCabinet_deskScrollWrap {
    height: calc(100% - 65px) !important;

    overflow: hidden;
    @include TypeBackground();
}

.storageCabinet_wrap {
    width: 100%;
    overflow: hidden;

    &.desk {
        .storageCabinet_row {
            padding: 0 8px 20px 8px;
        }

        .storageCabinet_item {
            margin: 20px 12px 0 12px;
        }
    }

    &.tablet {
        .storageCabinet_item {
            @include gridCol(4);
            height: 180px;
            margin-right: 24px;
            margin-left: 0;
            margin-top: 20px;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    &.mobile {
        .storageCabinet_item {
            @include mobileGridCol(6);
            height: 180px;
            margin-left: 20px;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    &.small_desk {
        .storageCabinet_total {
            margin-bottom: 16px;
        }

        .storageCabinet_item {
            @include gridCol(3);
            height: 180px;
        }
    }
}

.small_desk {
    position: relative;
}

.arrowContainer {
    position: absolute;
    top: 32px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

@mixin Arrow {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #487bd1;

    .arrowContainer_icon {
        width: 16px;
        height: 12px;
        color: #487bd1;
        transition: all 0.2s linear;
    }

    &.gray {
        border-color: #57f1f1;

        .arrowContainer_icon {
            color: #57f1f1;
        }
    }
}

.arrowContainer_pre {
    margin-right: 20px;
    @include Arrow();

    .arrowContainer_icon {
        transform: rotate(180deg);
    }
}

.arrowContainer_next {
    @include Arrow();
}

.smallDesk_scrollWrap {
    @include TypeBackground();

    height: 220px;
    box-sizing: border-box;
}

.smallDesk_scrollBody {
    padding: 0 20px !important;
    box-sizing: border-box;
}

.storageCabinet_smallDeskRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
}

.tablet_colorContainer {
    width: 100%;
    overflow: hidden;

    @include TypeBackground();
    box-sizing: border-box;
}

.tablet_colorContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.tablet_colorList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0 20px 20px;
    box-sizing: border-box;
    width: 100%;
    flex: 0 0 auto;

    .storageCabinet_item {
        list-style: none;
    }
}

.tablet_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 24px;
}

.tablet_row {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.tablet_pageItem {
    width: 16px;
    height: 6px;
    display: inline-block;
    background: #ebebeb;
    border-radius: 10px;
    margin-right: 8px;
    transition: all 0.5s linear;
    cursor: pointer;

    &:last-child {
        margin: 0;
    }

    &.active {
        width: 40px;
        background: #bdbdbd;
        opacity: 0.8;
    }
}

.transition {
    transition-duration: 600ms;
    transition-property: transform;
}

.mobile_colorWrap {
    width: 100%;
    height: 212px;
    @include TypeBackground();
}

.mobile_scrollContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mobile_colorContainer {
    width: auto;
    min-width: 100%;
    height: 212px;

    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 16px;
    box-sizing: border-box;
}

.warehouse_body {
    width: calc(100% + 20px);

    > .item {
        margin-right: 20px;
        margin-bottom: 16px;
    }
}

.scrollBody {
    width: calc(100% + 16px);
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #57f1f1;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #72bbbb;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.storageCabinet_itemBg_lt {
    position: absolute;
    top: -1px;
    left: -3px;
    pointer-events: none;
    z-index: 3;
}

.storageCabinet_itemBg_rb {
    position: absolute;
    bottom: -3px;
    right: -1px;
    pointer-events: none;
    z-index: 3;
}
